/* custom style, incl adjustments of bootstrap */

body {
	padding-top: 60px;
	padding-bottom: 40px;
}
	  
@media (min-width: 500px) {
	img.big { display: block;}
	img.middle { display: none;}
	img.small { display: none;}
}

@media (min-width: 300px) and (max-width: 500px) {
	img.big { display: none;}
	img.middle { display: block;}
	img.small { display: none;}
}

@media (max-width: 300px) {
	img.big { display: none;}
	img.middle { display: none;}
	img.small { display: block;}
}

.hero-unit {
	padding: 30px;
}
